/* bizcardmaker.com
 * everything styles
 */

/* bourbon
 */
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';

/* variables
 */
$color1: #ED8D4D;
$color2: #32C5FF;
$color3: #EDB10B;
$white: #fff;
$grey: #e2e2e2;
$darkGrey: #565656;
$black: #000;

@import 'utils';
@import 'website';
@import 'app';
@import 'sidebar';
@import 'help';

@import 'popover';
