<footer class="row footer">

    <div class="large-9 columns">
      <p>
        &copy; Copyright 2020, CallerDojo and VirtualBackgroundPro are trademarks of Heavy Technologies, Inc.
      </p>

    </div>

    <div class="large-3 columns">

      <p class="text-right chrome-app">

        <a href="https://chrome.google.com/webstore/detail/business-card-maker/dpchnngplfnmejdkfgpmfhifccngoiih" title="Get the Chrome app, for easier access." target="_blank">
          <img src="/images/chrome-app.png" alt="Available in the Chrome Web Store">
        </a>

      </p>

    </div>

  </footer>
